header {
    background: slategrey;
    width:100%;
    height: 80px;
    font-size: 50px;
    text-align: center;
}
.ozdobnik { background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/00/Coastal-rocks.jpg);
; width:100%; height: 40px; }

.formularz{
    text-align: center;
    margin: 30px;
}
.form-submit{
    margin: 30px;
}