<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gra Kopalnia</title>
    <link rel="stylesheet" href="../static/css/start.css" type="text/css" />

</head>
<body>
    <header>
        Witaj w grze Kopalnia!
    </header>
    <div class="ozdobnik">
    </div>
    <div class="zasady">
        <p>Zasady gry:</p>
        <p>Zadaniem każdego z graczy jest przebyć trasę, tak aby nazbierać najwięcej punktów.</p>

        <p>Występują trzy rodzaje surowców: węgiel, złoto, diament, które reprezentowane są przez kolory czarny, żółty i niebieski.
        <p>Za zdobycie jednej grudy danego surowca przysługuje odpowiednio: 1, 2 i 5 punktów. </p>
        <p> Gracze po kolei rzucają kostką, a następnie poruszają się po planszy o tyle pól, ile wskazała kostka. </p>
        <p> Jeśli na polu, na którym gracz zakończy swój ruch, znajdują się surowce, to zbiera je dla siebie. </p>
        <p> Gra kończy się, gdy pierwszy gracz wejdzie na metę, a wygrywa osoba, która zgromadziła więcej punktów.</p>
    </div>
    <div class="gra">
        <a href="{{ url_for('stworzgracza') }}"> Rozpocznij grę!</a>
    </div>
    <div class="ozdobnik">
    </div>
    <footer>
        Weronika Paterek 2021
    </footer>
</body>
</html>